{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar_style.css' %}">
{% endblock extracss %}

{% block content %}
<div class="prev-next-container">
    <button class="btn"><a class="month-btn" href="{% url 'cal:calendar' %}?{{ prev_month }}">Previous Month</a></button>
    <button class="btn"><a class="month-btn" href="{% url 'cal:calendar' %}?{{ next_month }}">Next Month</a></button>
</div>

<br>

  {{calendar}}

<br>

<div class="add-btn-container">
  <button class="btn"><a class="add-event-link" href="{% url 'cal:event_new' %}">Add Event</a></button>
  <button class="btn"><a class="add-event-link" href="{% url 'accounts:signout' %}">Logout</a></button>
</div>
{% endblock content %}
