{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar_style.css' %}">
{% endblock extracss %}

{% block content %}

<div class="form-container">
    <h3>Create a new event</h3>
    <br>
    <form method="post" action="{% url 'cal:create_event' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn" type="submit">Submit</button>
      <br>
    </form>
    <br>
    <button class="btn"><a href="{% url 'cal:calendar' %}">Return</a></button>
</div>

{% endblock content %}
