{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'calendar_style.css' %}">
{% endblock extracss %}

{% block content %}

<div class="form-container">
    <h3>Create a new event</h3>
    <br>
    <form method="post" action="{% url 'create_event' %}">
      {% csrf_token %}
      {% for field in form %}
        <label class="form-label" for="{{ field.auto_id }}"> {{ field.label }} : </label>
        {{ field }}
        <br>
      {% endfor %}
      <button class="btn" type="submit">Submit</button>
      <br>
    </form>
    <br>
    <button class="btn"><a href="{% url 'calendar' %}">Return</a></button>
</div>

{% endblock content %}
