{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts_style.css' %}" />
{% endblock extracss %}

{% block content %}
<div class="page-container">

  <h2 class="signin-title">Event Calendar</h2>

  <br>

  <h3 class="signin-descr">Please sign in or make an account in order to create personalized events for yourself</h3>

  <br>

  <h4 class="signin-header">Sign In</h4>

  <div class="form">
  <form action="{% url 'accounts:signin' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Login</button>
  </div>

  <br>

  <h4 class="signin-header">New to this calendar? <a href="{% url 'accounts:signup' %}">Sign Up</a></h4>

</div>
{% endblock content %}
