{% extends 'base.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts_style.css' %}" />
{% endblock extracss %}

{% block content %}

<div class="page-container">

  <h2 class="signin-title">Event Calendar</h2>

  <br>

  <h3 class="signin-descr">Please make an account in order to create personalized events for yourself</h3>

  <br>

  <h4 class="signin-header">Sign Up</h4>

  <div class="form">
  <form action="{% url 'accounts:signup' %}" method="post" autocomplete="new-password">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Sign Up</button>
  </div>
  <br>

  <h4 class="signin-header">I am already a member! <a href="{% url 'accounts:signin' %}">Sign In</a></h4>

</div>

{% endblock content %}
