.page-container {
  text-align: center;
}

.form {

}

.form input {

}

.form-control {
  color: #ececec;
  background-color: #385170;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding: 5px;
  width: 30%;
}


label {
  color: #ececec;
}

.example-text {
  font-size: 12px;
  padding: 0px;
}
